{% extends 'concrete/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<div id="contacts">
    <p>Reach us via: </p>
    <ul>
        <li>
            <p><i class="fa-sharp fa-solid fa-envelope"></i> <a href="mailto:victorkimani77@gmail.com">victorkimani77@gmail.com</a> </p>
        </li>
        <li>
            <p><i class="fa-brands fa-linkedin"></i>  <a href="https://www.linkedin.com/in/victorkimani77" target="_blank" rel="noopener">LinkedIn</a></p>
        </li>
    </ul>

</div>
{% endblock %}