{% extends 'concrete/layout.html' %}

{% block body %}
<div id="landing-text">
    <p id="landing-title">Perform AI-powered concrete mix design and analysis</p>
    <p>Ujenzi is a platform that enables the use of machine learning to predict compressive strength of concrete from a
        number of input parameters without the need to wait for laboratory testing. This tool is built on top of an
        accurate machine learning model trained and tested on 1030 individual samples.
        Refer to <a href="{% url 'documentation' %}">technical documentation</a> for more details. <br>

    </p>
    <p>Perform predictions on compressive strength by providing input parameters such as content of cement, water,
        coarse aggregate, fine aggregate, blast furnace slag, superplasticizer and fly ash.</p>

    <button class="btn btn-primary"><a href="{% url 'predict' %}">Predict</a></button>

</div>

{% endblock %}